body{
  background-color: #181818;
}


  .mainTitle{
    font-size: 4.2rem;
    background: -webkit-linear-gradient(#f77373, #ff0000);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 7px;
  }

  header{
    position: fixed;
  }

  .navbar{
    transition: 0.6s;
    z-index: 100000;
    
  }

 

  nav.sticky {
    padding: 15px 30px;
    background: #181818;
    box-shadow: 15px 0px 5px black;
  }

  nav.sticky div a {
    color: #d7d7d7;
  }

  .subtitle{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: -1rem;
    color: #ffffff94;
  }

  .presentationSubtitle{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: -1rem;
    color: #ffffff;
  }

  .presentationTitle{
    font-size: 3.6rem;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 7px;
    margin-bottom: 6rem;
  }

  .imgprincipal {
    margin: 0 auto;
  }

  .sushi{
    margin-left: 25rem;
    margin-top: -3rem;
    width: 50%;
  }

  .sushi1{
    margin-top: -12rem;
    width: 100%;
    margin-left: -10rem;
  }

  

  .sushi2{
    margin-top: -13rem;
    width: 80%;
    margin-left: 13rem;
  }

  .navbar.show{
    transition: all 0.6s ease-out;
    background-color: #181818;
    box-shadow: 5px 1px 8px rgb(13, 13, 13);
  }

  
  
  .products{
    margin-bottom: 28rem;
  }

 

  li{
    display: flex;
    
  }

  .btn-primary {
    color: #ea440c;
    background-color: #fff;
    border-color: #ea440c;
}

  .btn {
    display: inline-block;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    cursor: pointer;
    border: 0.16666667rem solid transparent;
    border-color: #ea440c;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    outline: none;
    margin-left: 13rem;
    margin-right: 34rem;
    padding: 0.83333333rem 1.94444444rem;
    font-size: 0.88888889rem;
    line-height: 1.11111111rem;
    border-radius: 0;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
  }

  .btn:hover {
    color: #ffffff;
    background-color: #ea440c;
    border-color: #ea440c;
  }



  @media (min-width: 1280px){

    .bigsashimidiv{
      background-image: url(../img/bigsashimi768.png);
      background-repeat: no-repeat;
      background-size: 40%;
      background-position-x: 810px;
      background-position-y: -105px;

    }


    .orderTitle{
      font-size: 2.7rem;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      letter-spacing: 7px;
    }

    .orderSubtitle{
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: light;
      letter-spacing: 2px;
      color: #ffffff94;
    }


    .presentationSubtitle{
      font-size: 0.9rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: light;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      margin-top: 8rem;
      margin-bottom: -0.5rem;
      color: #ffffff84;
    }

    .presentationTitle{
      font-size: 3.3rem;
      color: #ffffff;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      letter-spacing: 7px;
      margin-bottom: 1rem;
    }


    .sushi{
      margin-left: 18rem;
      margin-top: 2rem;
      width: 50%;
    }
  
    .sushi1{
      margin-top: -12rem;
      width: 100%;
      margin-left: -12rem;
    }
  
    .sushi2{
      margin-top: -13rem;
      width: 75%;
      margin-left: 9rem;
    }

  .products > div::before{
    content: '';
    background-color: rgb(255, 255, 255);
  width: 2.7rem;
  height: 0.2rem;
  display: flex;
  margin-top: 7rem;
  position: relative;
  margin-left: 7rem;
  }

    .products > div > h3{
      color: #ffffff;
      letter-spacing: 2px;
      font-size: 1.35rem;
      padding-left: 1rem;
      margin-top:6.1rem;
      margin-left:-7.6rem;
    }
  
    .products > div > p{
      color: #f0f0f082;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      padding-left: 12.5rem;
      margin-right: -13rem;
      margin-top: 0.5rem;
      margin-bottom: -2rem;
    }

    .infos > div::before{
      content: '';
      background-color: rgb(255, 255, 255);
    width: 2.7rem;
    height: 0.2rem;
    display: flex;
    margin-top: 7rem;
    position: relative;
    margin-left: 11rem;
    }
  
      .infos > div > h3{
        color: #ffffff;
        letter-spacing: 2px;
        font-size: 1.35rem;
        padding-left: 1rem;
        margin-top:6.1rem;
        margin-left:-26.5rem;
      }
    
      .infos > div > p{
        color: #f0f0f082;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        padding-left: 16.5rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        margin-bottom: -2rem;
      }

    .btn {
      display: inline-block;
      font-family: 'Montserrat', serif;
      font-weight: 400;
      cursor: pointer;
      border: 0.16666667rem solid transparent;
      border-color: #ea440c;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      outline: none;
      margin-left: 12.6rem;
      margin-right: 34.7rem;
      padding: 0.6rem 1.94444444rem;
      font-size: 0.88888889rem;
      line-height: 1.11111111rem;
      border-radius: 0;
      -moz-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease;
      margin-top: 4rem;
    }
    .orderContainer{
      background-image: url(../img/redcircle.png);
      background-repeat: no-repeat;
      background-size: 11%;
      background-position-x: 17rem;
      background-position-y: 0rem;
      height: 150px;
      padding-top: 2rem;
    }

      .bg-head{
        position: absolute;
        top: 0;
        bottom: 0;
        background-image: url(../img/bg-head.png);
        -webkit-background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
      }
    

     .footer{
      background-color: #262626;
      height: 350px;
     }
  
  }

  
  @media (min-width: 1536px){
   
    .bigsashimidiv{
      background-image: url(../img/bigsashimi.png);
      background-repeat: no-repeat;
      background-size: 50%;
      background-position-x: 960px;
      background-position-y: -105px;

    }

    .presentationTitle{
      font-size: 3.6rem;
      color: #ffffff;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      letter-spacing: 7px;
      margin-bottom: -2rem;
    }

    .presentationSubtitle{
      margin-bottom: -0.5rem;
      color: #ffffff84;
    }

    .sushi{
      margin-left: 36rem;
      margin-top: 2rem;
      width: 40%;
    }
  
    .sushi1{
      margin-top: -12rem;
      width: 80%;
      margin-left: 5rem;
    }
  
    .sushi2{
      margin-top: -13rem;
      width: 70%;
      margin-left: 20rem;
    }

  .products > div::before{
    content: '';
    background-color: rgb(255, 255, 255);
  width: 3.2rem;
  height: 0.2rem;
  display: flex;
  margin-top: 7rem;
  position: relative;
  margin-left: 8rem;
  }

    .products > div > h3{
      color: #ffffff;
      letter-spacing: 2px;
      font-size: 1.8rem;
      padding-left: 1rem;
      margin-top:5.6rem;
      margin-left: -7.5rem;
    }
  
    .products > div > p{
      color: #f0f0f082;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      padding-left: 14rem;
      margin-right: -17rem;
      margin-top: 0.5rem;
      margin-bottom: -2rem;
    }

    .btn {
      display: inline-block;
      font-family: 'Montserrat', serif;
      font-weight: 400;
      cursor: pointer;
      border: 0.16666667rem solid transparent;
      border-color: #ea440c;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      outline: none;
      margin-left: 14rem;
      margin-right: 38rem;
      padding: 0.6rem 1.94444444rem;
      font-size: 0.88888889rem;
      line-height: 1.11111111rem;
      border-radius: 0;
      -moz-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease;
      margin-top: 4rem;
    }
    .infos > div::before{
      content: '';
      background-color: rgb(255, 255, 255);
    width: 2.7rem;
    height: 0.2rem;
    display: flex;
    margin-top: 7rem;
    position: relative;
    margin-left: 21rem;
    }
  
      .infos > div > h3{
        color: #ffffff;
        letter-spacing: 2px;
        font-size: 25px;
        padding-left: 1rem;
        margin-top:6.1rem;
        margin-left:-34rem;
      }
    
      .infos > div > p{
        color: #f0f0f082;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        padding-left: 27rem;
        margin-right: 12rem;
        margin-top: 0.5rem;
        margin-bottom: -2rem;
      }

      nav a {
        font-size: 16px;
        letter-spacing: 1px;
      }
      .orderContainer{
        background-image: url(../img/redcircle.png);
        background-repeat: no-repeat;
        background-size: 10%;
        background-position-x: 18rem;
        background-position-y: 0rem;
        height: 190px;
        padding-top: 3rem;
      }

     

      .orderTitle{
        font-size: 3rem;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        letter-spacing: 7px;
        margin-left: 10rem;
      }
  
      .orderSubtitle{
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: light;
        letter-spacing: 2px;
        color: #ffffff94;
        
      }
}


  @media (max-width: 500px){
    
    nav a{
      display: none;
    }

    .logo{
      width: 130px;
      margin: 15px;
    }
    
    .principal{
      width: 100%;
      text-align: center;
    }

    .imgprincipal{
      margin-top: -5rem;
      width: 330px;
    }
    .subtitle{
      justify-content: center;
      font-size: 13px;
      color: #6f6f6f;
      margin-top: 8rem;
    }

    .mainTitle{
      margin-top: 1rem;
      font-size: 36px;
      letter-spacing: 2px;
      line-height: normal;
    }

  
 

    .presentationSubtitle{
        justify-content: center;
        font-size: 13px;
        color: #b0b0b0;
        margin-top: 6.5rem;
        
    }

    .presentationTitle{
      margin-top: 1rem;
      font-size: 40px;
      letter-spacing: 3px;
      line-height: normal;
    }

    .productsimages{
      text-align: center;
      margin-top: -3rem;
      width: 30%;
      margin-left: 3.3em;
    }

    .sushi{
      margin-left: 0rem;
      margin-top: 0rem;
      max-width: 120%;
      width: 120%;
      padding-bottom: 1em;
    }
  
    .sushi1{
      margin-top: 0rem;
      max-width: 120%;
      width: 120%;
      margin-left: 0rem;
      padding-bottom: 1em;
    }
  
    .sushi2{
      margin-top: 0rem;
      max-width: 120%;
      width: 120%;
      margin-left: 0rem;
    }

    .products{
      margin-left: 1rem;
      margin-top: 3rem;
      width: 40%;
    }

    .products > div {
      width: 40%;
    }

    .products > div::before{
      content: '';
      background-color: rgb(255, 255, 255);
    width: 2rem;
    height: 0.2rem;
    display: flex;
    position: relative;
    margin-left: 1.2rem;
    }

    .products > div > h3{
      color: #ffffff;
      letter-spacing: 2px;
      font-size: 1.20rem;
      padding-left: 4.8rem;
      margin-top:-1rem;
      width: 50%;

    }
  
    .products > div > p{
      color: #f0f0f082;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      padding-left: 5rem;
      margin-top: 0.5rem;
      margin-bottom: 4rem;
      margin-right: 32rem;
      width: 50%;
    }

    .btn {
      display: inline-block;
      font-family: 'Montserrat', serif;
      font-weight: 400;
      cursor: pointer;
      border: 0.16666667rem solid transparent;
      border-color: #ea440c;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      outline: none;
      margin-left: 5rem;
      /* margin-right: 30rem; */
      padding: 0.6rem 1.94444444rem;
      font-size: 0.88888889rem;
      line-height: 1.11111111rem;
      border-radius: 0;
      -moz-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease;
      margin-top: -1.5rem;
    }

    .productsContainer{
      height: 1350px;
    }
   

    .orderContainer{
      background-image: url(../img/redcircle.png);
      background-repeat: no-repeat;
      background-size: 30%;
      background-position-x: 8.5rem;
      background-position-y: 2rem;
      height: 190px;
      padding-top: 3rem;
    }

   

    .orderTitle{
      font-size: 40px;
      letter-spacing: 2px;
      line-height: normal;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-left: 1.8rem;
    }

    .orderSubtitle{
      font-size: 13px;
      color: #b0b0b0;
      font-family: 'Montserrat', sans-serif;
      font-weight: light;
      letter-spacing: 2px;
      margin-left: 6.8rem;
    }
    
    .infos > div::before{
      content: '';
      background-color: rgb(255, 255, 255);
    width: 2rem;
    height: 0.2rem;
    display: flex;
    position: relative;
    margin-left: 2.3rem;
    }
  
      .infos > div > h3{
        color: #ffffff;
      letter-spacing: 2px;
      font-size: 1.20rem;
      margin-left: -6rem;
      margin-top:-1rem;
      width: 100%;
      }
    
      .infos > div > p{
        color: #f0f0f082;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        padding-left: 6.3rem;
        margin-top: 0.5rem;
        margin-bottom: 4rem;
        width: 100%;
        margin-right: -10rem;
      }


  }



